body {
  margin: 0;
  background: #F5F5F5;
  height: 100%;
}

.banner {
  justify-content: center;
  padding: 90px 0px;
}

.banner h4 {
  font-size: 47px;
  color: #164160;
  font-weight: 700;
  font-family: 'poppins';
}

.banner p {
  font-size: 30px;
  color: #164160;
  font-family: 'roboto';
}

.banner button {
  width: 200px;
  height: 60px;
  background: #52B3E2;
  color: #ffffff;
  font-family: 'poppins';
  font-size: 24px;
  font-weight: 500;
  padding: 5px 20px;
  border: none;
  border-radius: 35px;
}

.bannerimg img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}



.imgcard {
  padding: 15px 10px;
  width: 280px;
  height: 250px;
  background: #ffffff;
  border-radius: 15px;
  position: absolute;
  border: 1px solid rgb(223, 223, 223);
}

.imgcard img {
  width: 180px;
  height: 165px;
  margin-top: -80px;
  border-radius: 50%;
  box-shadow: 0 2;
}

.imgcard h6 {
  padding-top: 10px;
  font-size: 20px;
  color: #164160;
  font-weight: 700;
  font-family: 'poppins';
}

.imgcard p {
  font-size: 18px;
  color: #164160;
  font-family: 'roboto';
}

.midarticle {
  justify-content: center;
  text-align: center;
  padding: 10px 0;
}

.midarticle h5 {
  font-size: 50px;
  color: #164160;
  font-weight: 700;
  font-family: 'poppins';
}

.midarticle .bottom-line {
  background: #52B3E2;
  height: 9px;
  width: 70px;
  margin-left: 150px;
}

.service-block {
  padding: 10px;
}

.service-block h4 {
  font-size: 47px;
  color: #164160;
  font-weight: 700;
  font-family: 'poppins';
}

.service-block p {
  font-size: 18px;
  color: #164160;
  font-family: 'roboto';
}

.service-block button {
  background: #52B3E2;
  color: #ffffff;
  font-family: 'poppins';
  font-size: 22px;
  font-weight: 500;
  padding: 5px 20px;
  border: none;
  border-radius: 25px;
}

.footer {
  margin-top: 50px;
  padding: 100px 50px;
  height: 332px;
  justify-content: center;
  background: #2A3D66;
}

.footer .footer-banner {
  height: 125px;
  display: flex;
  border-radius: 25px;
  background: #52B3E2;
}

.footer .footer-banner img {
  height: 125px;
  float: left;
  margin-left: -12px;
  border-radius: 25px 60px 60px 25px;
}
.footer .footer-banner h4{
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  font-family: 'poppins';
 padding: 35px 65px;
}
.footer .footer-banner button{
  color: #ffffff;
  background: #52B3E2;
  font-size: 24px;
  font-weight: 700;
  height: 60px;
  width: 200px;
  border-radius: 35px;
  border: 2px solid #ffffff;
  margin: 30px 15px;
}